<!doctype html>
<html lang="en" dir="ltr">
    <%- include ('./partials/head') %>
    <body class="app sidebar-mini ltr">
        <!-- PAGE -->
        <div class="page">
            <div class="page-main">
                <!-- app-Header -->
                <%- include ('./partials/header') %>
                <!-- /app-Header -->
                <!--APP-SIDEBAR-->
                <%- include ('./partials/sidebar') %>
                <!--app-content open-->
                    <div class="main-content app-content mt-0"> 
                        <div class="side-app">
                        <!-- CONTAINER -->
                        <div class="main-container container-fluid">
                            
                            <!-- PAGE-HEADER -->
                            <div class="page-header">
                                
                                <h1 class="page-title">
                                    <%= pageTitle %></code>
                                </h1>
                                <div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="/ap/home">Home</a>
                                        </li>
                                        <li class="breadcrumb-item                                                                                                   active" aria-current="page">
                                            <%= pageTitle %>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!-- PAGE-HEADER END -->
                                <!-- ROW 2 Filter -->
                                <%- include ('./snippets/activity-logs-filter') %>
                                <!-- ROW-3 -->
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5><%= pageTitle %> List</h5>
                                                <div class="card-options">
                                                    <div id="auto_fetch_spinner" class="mt-3">
                                                        <span class="spinner-grow text-primary spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                    </div>&nbsp;
                                                    <label class="custom-control custom-checkbox mt-2">
                                                        <input type="checkbox" class="custom-control-input" name="auto_refresh" id="auto_refresh_list" checked>
                                                        <span class="custom-control-label">Auto Fetch</span>
                                                    </label>&nbsp;&nbsp;
                                                    <div class="btn-group">
                                                        <button id="refresh_button" type="button" class="btn btn-sm btn-default" title="Refresh List">
                                                            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh List
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table id="table1" class="table table-sm table-hover mb-0 dataTable dtr-inline" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 4%;">#</th>
                                                                <th style="width: 10%;">IP</th>
                                                                <th>User</th>
                                                                <th style="width: 5%;">Action</th>
                                                                <th>Detail</th>
                                                                <th style="width: 10%;">Created</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ROW-2 END -->
                            </div>
                            <!-- CONTAINER END -->
                        </div>
                    </div>
                    <!--app-content close-->
                </div>

            <!-- FOOTER -->
            <%- include ('./partials/footer') %>

            <!-- FOOTER END -->
        </div>

        <!-- BACK-TO-TOP -->
        <a href="#top" id="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <%- include ('./partials/footer-script') %>
    </body>
   <script>
    const actionUrl = "<%=actionUrl%>";
    $(function () {
        let table = $('#table1').DataTable({
            "searching"  : false,
            "paging"     : true,
            "responsive" : true,
            "select"     : true,
            "order"      : [[ 0, '' ]],
            "pageLength" : 20,
            "processing" : true,
            "serverSide" : true,
            "ajax": {
                "url": `${actionUrl}/activity-logs`,
                "type": "POST",
                "data": function (d) {
                    d.filter_user = $("#filter_user").val()
                    d.filter_action = $("#filter_action").val()
                    d.filter_detail = $("#filter_detail").val()
                }
            },
            "columnDefs": [
                {
                    "searchable": true,
                    "orderable": false,
                    "defaultContent": "-",
                    "targets": "_all"
                }
            ],
            "dom": 'Bfrtip',
        });//..... end of dataTables.
        // Filters
        $(document).on('change keyup', '.activity_logs_filter', function () {
            table.ajax.reload();
        });
        // Refresh list
        $(document).on('click', '#refresh_button', function () {
            table.ajax.reload();
        });
        // Set time interval to fetch latest logs
        setInterval(() => {
            if($("#auto_refresh_list").is(":checked")) {
                table.ajax.reload();
            }
        }, 10000)

        // auto fetch spinner
        $(document).on('click', '#auto_refresh_list', function() {
            if($("#auto_refresh_list").is(":checked")) {
                $("#auto_fetch_spinner").css('display','block')
            } else {
                $("#auto_fetch_spinner").css('display','none')
            }
        })
    })

   </script>
</html>
