<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('../partials/head') %>

  <body class="app sidebar-mini ltr">
    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        <!-- app-Header -->
        <%- include ('../partials/header') %>
          <!-- /app-Header -->
          <!--APP-SIDEBAR-->
          <%- include ('../partials/sidebar') %>
            <!--app-content open-->
            <div class="main-content app-content mt-0">
              <div class="side-app">
                <!-- CONTAINER -->
                <div class="main-container container-fluid">
                  <!-- PAGE-HEADER -->
                  <div class="page-header">
                    <h1 class="page-title">
                      <%= pageTitle %>
                    </h1>
                    <div>
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="/ap/home">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          <%= pageTitle %>
                        </li>
                      </ol>
                    </div>
                  </div>
                  <!-- PAGE-HEADER END -->
                  <!-- ROW 1 -->
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="card" id="addRecordForm" style="display: block">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fe fe-plus-circle"></i> Add New Prices
                          </h3>
                        </div>
                        <!-- ADD FORM -->
                        <div class="card-body">
                          <form class="" enctype="multipart/form-data" id="addForm" method="post">
                            <div class="form-row">
                              <div class="col-md-3 mb-2">
                                <label>Select Car<small class="text-info"></small></label>
                                <select class="form-control select2-show-search select2 type-dropdown"
                                  data-placeholder="Select Type" id="car" name="car">
                                  <option value="" selected disabled>
                                    Select Car
                                  </option>
                                  <% carsdata.forEach(car=> { %>
                                    <option value="<%= car.id %>" %>
                                      > <%= car.title %>
                                    </option>
                                    <% }) %>
                                </select>
                              </div>
                              <div class="col-md-3 mb-2">
                                <label for="km_price">Per KM Price(AED)<sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" name="km_price" id="km_price"
                                placeholder="Enter Per KM Price(AED)" required />
                              </div>
                              <div class="col-md-5 mb-2">
                                <label for="hourly_price">Hourly Price(AED)<sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" name="hourly_price" id="hourly_price"
                                  placeholder="Enter Hourly Price(AED)" required />
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-12 mb-2">
                                <label for="description">Description</label>
                                <textarea class="form-control mb-4 summernote" required id="description"
                                  name="description"></textarea>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-12">
                                <div class="form-group pull-right">
                                  <button type="submit" id="submit" class="btn btn-sm btn-outline-success">
                                    Save
                                  </button>
                                  <button type="reset" class="btn btn-sm btn-outline-info reset_form">
                                    Reset
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="card" id="editRecordForm" style="display: none">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fe fe-edit"></i> Update Record
                          </h3>
                        </div>
                        <!-- EDIT FORM -->
                        <div class="card-body">
                          <form enctype="multipart/form-data" id="editForm" method="post">
                            <input type="hidden" name="prices_id_edit" id="prices_id_edit" value="" />

                            <div class="form-row">
                              <div class="col-md-3 mb-2">
                                <label>Select Car<small class="text-info"></small></label>
                                <select class="form-control select2-show-search select2 type-dropdown"
                                  data-placeholder="Select Type" id="car_edit" name="car_edit">
                                  <option value="" selected disabled>
                                    Select Car
                                  </option>
                                  <% carsdata.forEach(car=> { %>
                                    <option value="<%= car.id %>" %>
                                      > <%= car.title %>
                                    </option>
                                    <% }) %>
                                </select>
                              </div>
                              <div class="col-md-3 mb-2">
                                <label>Select Ride Type<small class="text-info"></small></label>
                                <label for="km_price_edit">Per KM Price(AED)<sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" name="km_price_edit" id="km_price_edit"
                                placeholder="Enter Per KM Price(AED)" required />
                              </div>
                              <div class="col-md-5 mb-2">
                                <label for="hourly_price_edit">Hourly Price(AED)<sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" name="hourly_price_edit" id="hourly_price_edit"
                                  placeholder="Enter Hourly Price(AED)" required />
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-12 mb-2">
                                <label for="description_edit">Description</label>
                                <textarea class="form-control mb-4 summernote" required id="description_edit"
                                  name="description_edit"></textarea>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-12">
                                <div class="form-group pull-right">
                                  <button type="submit" id="submitEdit" class="btn btn-sm btn-outline-success">
                                    Update
                                  </button>
                                  <button type="reset" class="btn btn-sm btn-outline-info reset_form">
                                    Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ROW 1 -->
                  <!-- ROW-2 -->
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="mb-3">
                            <%= pageTitle %> List
                          </h5>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table id="table1" class="table table-sm table-hover table-condensed" width="100%">
                              <thead>
                                <tr>
                                  <th style="width: 4%">#</th>
                                  <th style="width: 15%">Title</th>                                 
                                  <th>Per Km Price</th>
                                  <th>Hourly Price</th>
                                  <th>Description</th>
                                  <th>Created</th>
                                  <th>Updated</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody></tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ROW-2 END -->
                </div>
                <!-- CONTAINER END -->
              </div>
            </div>
            <!--app-content close-->
      </div>

      <!-- FOOTER -->
      <%- include ('../partials/footer') %>

        <!-- FOOTER END -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <%- include ('../partials/footer-script') %>
  </body>
  <script>
    const actionUrl = "<%=actionUrl%>";
    $(function () {
      let table = $("#table1").DataTable({
        searching: false,
        paging: true,
        responsive: true,
        select: true,
        order: [[0, ""]],
        pageLength: 30,
        processing: true,
        serverSide: true,
        ajax: {
          url: `${actionUrl}/list`,
          type: "POST",
          data: function () { },
        },
        columnDefs: [
          {
            searchable: true,
            orderable: false,
            defaultContent: "-",
            targets: "_all",
          },
        ],
        dom: "Bfrtip",
      }); //..... end of dataTables.
    });

    // add new day
    $(document).on("submit", "#addForm", async function (e) {
      e.preventDefault();
      let formData = new FormData();
      const car = $("#car").val();     
      const hourly_price = $("#hourly_price").val();
      const km_price = $("#km_price").val();      
      const description = $("#description").summernote("code");

      formData.append("car", car);      
      formData.append("hourly_price", hourly_price);
      formData.append("km_price", km_price);
      formData.append("description", description);
      let table = $("#table1").DataTable();
      if (car && km_price && hourly_price) {
        submitBtnLoader("submit", "show");
        $.ajax({
          url: `${actionUrl}/add`,
          type: "POST",
          processData: false,
          contentType: false,
          data: formData,
          success: async function (response) {
            submitBtnLoader("submit", "hide");
            if (response.success) {
              $.growl.notice1({ title: "Success", message: response.message });
              await resetForm();
              table.draw();
            } else {
              $.growl.error1({ title: "Error! 1", message: response.message });
            }
            // scroll top
            window.scrollTo({ top: 0, behavior: "smooth" });
          },
          error: function (xhr, errmsg, err) {
            submitBtnLoader("submit", "hide");
            $.growl.error1({ title: "Error!", message: err + errmsg });
            // scroll top
            window.scrollTo({ top: 0, behavior: "smooth" });
          },
        });
      }
    });

    // edit record
    function editRecord(id, table) {
      $.ajax({
        url: `/ap/general/edit/record`,
        type: "POST",
        data: { id: id, source_table: table },
        success: function (response) {
          if (response && response.success) {
            $("#addRecordForm").css("display", "none");
            $("#editRecordForm").css("display", "block");
            $("#prices_id_edit").val(id);
            $("#car_edit").val(response.data.car_id).trigger('change');
            $("#km_price_edit").val(response.data.km_price);
            $("#hourly_price_edit").val(response.data.hourly_price);

           

            $("#description_edit").summernote("code", response.data.description);
            // scroll top
            window.scrollTo({ top: 0, behavior: "smooth" });
          }
        },
        error: function (xhr, errmsg, err) {
          $.growl.error1({ title: "Error!", message: err + errmsg });
        },
      });
    }

    // udpate record
    $(document).on("submit", "#editForm", async function (e) {
      e.preventDefault();
      let formData = new FormData();
      const id = $("#prices_id_edit").val();
      const car = $("#car_edit").val();      
      const hourly_price = $("#hourly_price_edit").val();
      const km_price = $("#km_price_edit").val();
      const description = $("#description_edit").summernote("code");

      formData.append("id", id);
      formData.append("car", car);
      formData.append("km_price", km_price);
      formData.append("hourly_price", hourly_price);
      formData.append("description", description);
      let table = $("#table1").DataTable();
      if (car && km_price && hourly_price) {
        submitBtnLoader("submitEdit", "show");
        $.ajax({
          url: `${actionUrl}/update`,
          type: "POST",
          processData: false,
          contentType: false,
          data: formData,
          success: async function (response) {
            submitBtnLoader("submitEdit", "hide");
            if (response.success) {
              $.growl.notice1({ title: "Success", message: response.message });
              await resetForm();
              table.draw();
            } else {
              $.growl.error1({ title: "Error!", message: response.message });
            }
            // scroll top
            window.scrollTo({ top: 0, behavior: "smooth" });
          },
          error: function (xhr, errmsg, err) {
            submitBtnLoader("submitEdit", "hide");
            $.growl.error1({ title: "Error!", message: err + "." + errmsg });
          },
        });
      }
    });

    // delete record hard
    function deleteRecord(id, table) {
      let table1 = $("#table1").DataTable();
      swal(
        {
          title: "Are you sure?",
          text: "You want to delete this permanently!",
          type: "error",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "Cancel",
        },
        function (result) {
          if (result) {
            $.ajax({
              url: `/ap/general/delete/record`,
              type: "POST",
              data: {
                id: id,
                source_table: table,
              },
              success: function (response) {
                if (response && response.success) {
                  $.growl.notice1({
                    title: "Success",
                    message: response.message,
                  });
                  table1.draw();
                } else {
                  $.growl.error1({
                    title: "Error!",
                    message: response.message,
                  });
                }
              },
              error: function (xhr, errmsg, err) {
                $.growl.error1({ title: "Error!", message: response.message });
              },
            });
          }
        }
      );
    }

    // RESET FORM
    $(".reset_form").click(async function () {
      await resetForm();
      // scroll top
      window.scrollTo({ top: 0, behavior: "smooth" });
    });

    // reset form
    function resetForm() {
      $("#addForm")[0].reset();
      $("#editForm")[0].reset();
      $(".summernote").summernote("code", "");
      $("#prices_id_edit").val("");
      $("#car_edit").val("footer").trigger("change");
      $("#type_edit").val("footer").trigger("change");
      $("#addRecordForm").css("display", "block");
      $("#editRecordForm").css("display", "none");
    }
  </script>

</html>